nav .inicio {
    font-family: 'Pacifico', cursive;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    background-image: url('../img/Logo_jc-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative; /* para contener elementos absolutos */
    
  }

  .absoluta {
      position: absolute;
      z-index: 3;
      bottom: 0;
      width: 100%;
      padding-right: 15%;
  }

  .carousel-indicators {
    top: 50px;
  }
  
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 15%;
  }

  .frase-1 {
      margin-bottom: -1rem;
  }

  .frase-2 {
      margin-bottom: -1rem;
  }

  .frases {
    font-family: 'Pacifico', cursive;
    margin-top: 50%;
  }




